/* Navbar */

header {
    max-width: 100vw;
    height: 9vh;
    background-color: red;
    box-shadow: 1px 1px 9px 1px gray;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: bold;
}


header a h1 {
    color: snow;
}

header .links {
    width: 50%;
    justify-content: space-around;
}

header .links a {
    color: snow;
}

/* Navigation Bar Complete */


/* Add User */

.add_user h2 {
    margin: 3vw auto;
    font-size: 30px;
    text-align: center;
    color: gray;
}

.add_user form {
    margin: 3vw auto;
    max-width: 50vw;
}

.add_user form input {
    margin: 3vw auto;
    padding: 1vw;
    border: 1px solid gray;
    width: 90%;
    height: 6vh;
    font-size: 20px;
    display: block;
}

.add_user form button {
    margin: 3vw auto 0 auto;
    border: 1px solid gray;
    width: 90%;
    height: 6vh;
    color: snow;
    background-color: gray;
    font-size: 20px;
    display: block;
}

/* Add User Complete */


/* All User */

.all_user {
    margin: 3vw auto;
    border: 2px solid transparent;
    max-width: 100vw;
}

.all_user table {
    margin: 3vw auto;
    width: 90%;
    text-align: center;
}

.all_user table th {
    padding: .9vw;
    width: 15vw;
    background-color: gray;
    color: snow;
}

.all_user table tbody td {
    padding: .3vw;
    background-color: rgb(186, 186, 186);
    color: snow;
}

.all_user table tbody td button {
    margin: 0 1vw;
    padding: .3vw;
    width: 5vw;
    border: 2px solid gray;
    border-radius: .6vw;
    background: snow;
    box-shadow: 1px 1px 3px 1px rgb(128, 128, 128);
}