/* Common Styles */
* {
    margin: 0;
    border: none;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.x_axis_center {
    display: flex;
    align-items: center;
}

.x_y_axis_center {
    display: flex;
    align-items: center;
    justify-content: center;
}