/* Common Styles */
* {
    margin: 0;
    border: none;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}